.wrapper{
    width: 800px;
    margin: auto;
    margin-top: 100px;
    background-color: #f0abab;
    border-radius: 15px;
    text-align: center;
    color: #2b2828;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.wrapper h1{
    margin-top: 15px;
}
.wrapper p{
    text-align: justify;
}
.wrapper ul{
    list-style: none;
    text-align: left;
}
.wrapper li{
    margin-bottom: 10px;
}
.wrapper input{
    width: 80%;
    line-height: 30px;
    font-size: 20px;
    color: #9086a9;
    text-align: right;
}
.wrapper button{
    margin-left: 5px;
    line-height: 30px;
    font-size: 20px;
    color: #1c1919;
    text-transform: uppercase;
}
.wrapper hr{
    background-color: #db8b8b;
    margin-top: 15px;
    margin-bottom: 15px;
}
.wrapper span{
    color: rgb(184, 220, 21);
    font-weight: 900;
}
.wrapper span:hover{
   font-size: 30px;
}
